<section class="banner" id="banner">
  <div class="content">
    <h2>Always Choose Good</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut corrupti, porro quasi, atque accusantium velit nihil illo eos ducimus eaque, in fuga. Nostrum illum expedita quisquam est ad quidem veritatis</p>
    <a mat-raised-button href="#home" class="btn">Our Menu</a>
  </div>
</section>

<section class="about" id="about">
  <div class="row">
    <div class="col50">
      <h2 class="titleText"><span>A</span>bout Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eos ea vel earum, repellat quisquam laborum? Nemo voluptatem consectetur dignissimos unde earum. Alias autem ratione nobis quidem aliquid earum non! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio dolorum quo ex expedita distinctio commodi tenetur eaque. Esse cum laboriosam quis, beatae officia ducimus et magni, iste nobis nisi necessitatibus.
        <br><br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo excepturi libero quis quos quia molestias vitae placeat mollitia repellendus praesentium enim consectetur tenetur, provident laudantium autem adipisci aut, maxime deserunt.
      </p>
    </div>
    <div class="col50">
      <div class="imgBx">
        <img src="assets/img1.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="menu" id="menu">
  <div class="title">
    <h2 class="titleText">Our <span>M</span>enu</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">
    <div class="box">
      <div class="imgBx">
        <img src="assets/menu1.jpg" alt="">
      </div>
      <div class="text">
        <h3>Special Salads</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="assets/menu2.jpg" alt="">
      </div>
      <div class="text">
        <h3>Special Soup</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="assets/menu3.jpg" alt="">
      </div>
      <div class="text">
        <h3>Special Pasta</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="assets/menu4.jpg" alt="">
      </div>
      <div class="text">
        <h3>Special Salads</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="assets/menu5.jpg" alt="">
      </div>
      <div class="text">
        <h3>Special Soup</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="assets/menu6.jpg" alt="">
      </div>
      <div class="text">
        <h3>Special Pasta</h3>
      </div>
    </div>
  </div>
  <div class="title">
    <a mat-raised-button href="#" class="btn">View All</a>
  </div>
</section>

<section class="expert" id="expert">
  <div class="title">
    <h2 class="titleText">Our Kitchen <span>E</span>xpert</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">
    <div class="box">
      <div class="imgBx">
        <img src="assets/expert1.jpg" alt="">
      </div>
      <div class="text">
        <h3>Someone Famous</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="assets/expert2.jpg" alt="">
      </div>
      <div class="text">
        <h3>Someone Famous</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="assets/expert3.jpg" alt="">
      </div>
      <div class="text">
        <h3>Someone Famous</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="assets/expert4.jpg" alt="">
      </div>
      <div class="text">
        <h3>Someone Famous</h3>
      </div>
    </div>
  </div>
</section>

<section class="testimonials" id="testimonials">
  <div class="title white">
    <h2 class="titleText">They <span>S</span>aid About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="content">
    <div class="box">
      <div class="imgBx">
        <img src="assets/testi1.jpg" alt="">
      </div>
      <div class="text">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt et ab minima. Inventore, quaerat laboriosam facere sunt nulla vel suscipit commodi, cumque quisquam deserunt temporibus dolorum deleniti? Deserunt, magni tenetur?</p>
        <h3>Someone Famous</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="assets/testi2.jpg" alt="">
      </div>
      <div class="text">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt et ab minima. Inventore, quaerat laboriosam facere sunt nulla vel suscipit commodi, cumque quisquam deserunt temporibus dolorum deleniti? Deserunt, magni tenetur?</p>
        <h3>Someone Famous</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="assets/testi3.jpg" alt="">
      </div>
      <div class="text">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt et ab minima. Inventore, quaerat laboriosam facere sunt nulla vel suscipit commodi, cumque quisquam deserunt temporibus dolorum deleniti? Deserunt, magni tenetur?</p>
        <h3>Someone Famous</h3>
      </div>
    </div>
  </div>
</section>

<section class="contact" id="contact">
  <div class="title">
    <h2 class="titleText"><span>C</span>ontact Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="contactForm">
    <h3>Send Message</h3>
    <div class="inputBx">
      <mat-form-field class="input" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name">
      </mat-form-field>
    </div>
    <div class="inputBx">
      <mat-form-field class="input" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Email">
      </mat-form-field>
    </div>
    <div class="inputBx">
      <mat-form-field class="input" appearance="outline">
        <textarea matInput placeholder="Name"></textarea>
      </mat-form-field>
    </div>
    <div class="inputBx">
      <input type="submit" class="input" value="Send">
    </div>
  </div>
</section>

<div class="copyRightText">
  <p>Copyright 2020 <a href="#">Online Tutorials</a>. All Right Reserved</p>
</div>
